rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }
    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    // users collection
    match /users/{userId} {
      allow create: if isSignedIn() && isOwner(userId);
      allow read, update, delete: if isSignedIn();
    }

    // students & instructors metadata collections
    match /students/{userId} {
      allow create: if isSignedIn() && isOwner(userId);
      allow read, update, delete: if isSignedIn();
    }
    match /instructors/{userId} {
      allow create: if isSignedIn() && isOwner(userId);
      allow read, update, delete: if isSignedIn();
    }

    // courses collection
    match /courses/{courseId} {
      allow read: if true;
      allow write: if isSignedIn();
    }

    // enrollments collection
    match /enrollments/{enrollmentId} {
      allow read, write: if isSignedIn();
    }

    // assignments collection
    match /assignments/{assignmentId} {
      allow read, write: if isSignedIn();
    }

    // submissions collection
    match /submissions/{submissionId} {
      allow read, write: if isSignedIn();
    }

    // notifications collection
    match /notifications/{notificationId} {
      allow read, write: if isSignedIn();
    }

    // progress collection
    match /progress/{progressId} {
      allow read, write: if isSignedIn();
    }
  }
}
